.container-nav{
    display: flex;
    height: 100px;
    padding: 10px;
    background-color:rgb(9, 28, 1);
    .left-nav{
        color: white;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-around;
        font-size: 25px;
       a{
        text-decoration: none;
        color: white;
       }
    }
    .right-nav{
        display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-around;
        .search {
                width: 60%;
        
                .input {
                    width: 100%;
        
                    &:hover {
                        color: rgb(56, 90, 228);
                        /* Màu chữ xanh khi di chuột vào */
                    }
                }
            }

            .icon{
                font-size: 40px;
                color: white;
            }
            .avt-item{
                width: 50px;
                height: 50px;
                .avt{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 3px solid rgb(56, 90, 228);
                }
                .op-item{
                             background-color: rgb(58, 59, 60);
                                 border-radius: 5px;
                                width: 100px;
                                height: 90px;
                              margin-right: 20px;
                                margin-top: 13px;
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                 z-index: 1;
                                 font-family:'Times New Roman', Times, serif ; 
                                 
                                button{
                                  background-color:rgb(58, 59, 60);
                                  margin-top: 15px;
                                  color: white;
                                  a{
                                    color: white;
                                        text-decoration: none;
                                  }
                                }
                 }
                
                               
            }
                         .logout-icon {
                             color: white;                             
                             i{
                              font-size: 35px;
                             }
                         }
    }
}